ul{
  list-style-type:none;
  padding-left:0;
  margin: 0;
  margin-left:5%;
}



/*
--------------------------------------------------------------------------------------
Overall body decoration
--------------------------------------------------------------------------------------
*/
body{
  background-color:#0b1d51;
  color:white;
  font-family: cursive;
}
#wrapper{
  width:90%;
  max-width:1024px;
  min-height:100vh;
  margin:0 auto;
  background-image:url("https://www.buyon.it/assets/images/bgimages/357.jpg");
  border:2px solid black;
}
/*
--------------------------------------------------------------------------------------
Website Title decoration
--------------------------------------------------------------------------------------
*/
h1{
  font-weight:bold;
  display:block;
  max-width:100%;
  font-size:25px;
  text-align: center;
}
a h1{
  color:white;

}

a{
  text-decoration:none;
}
@media screen and (min-width:1024px){

  h1{
    max-width:100%;
    font-size:80px;
    margin-top:0;
    margin-bottom: 0;
  }
}
/*
--------------------------------------------------------------------------------------
Navigation decoration
--------------------------------------------------------------------------------------
*/
nav{
  width:100%;
  height:100vh;
  margin:0 auto;
  margin-left:3%;
}
nav ul li{
width:30%;
margin-left:30%;
margin-top:1%;
}
nav ul a img{
max-width:100%;
max-height:20vh;
}
nav a p{
  color:white;
  height:50px;
}
nav a:hover p{
  color:#95a3b3;
}
@media screen and (min-width:1024px){
  nav ul li{
  width:30%;
  float:left;
  margin-left:2%;
  margin-top: 20%;
  height:100%;
  }
  nav ul a img{
  max-width:100%;
  max-height:35vh;
  }
  nav a p{
    color:white;
    height:50px;
  }
  nav a:hover p{
    color:#95a3b3;
  }
}
