body{
  margin:0;
}

ul{
  list-style-type:none;
  padding-left:0;
  margin:0;
}
@media screen and (min-width:1024px){
  ul{
    margin-left:10%;
  }
}

/*
--------------------------------------------------------------------------------------
Overall Header decoration
--------------------------------------------------------------------------------------
*/
header{
  max-width:100%;
  min-height:300px;
      background-color: black;
}

@media screen and (min-width:1024px){
  header{
    min-width:100%;
    height:40vh;
    min-height:600px;
  }
}
/*
--------------------------------------------------------------------------------------
Overall body decoration
--------------------------------------------------------------------------------------
*/
body{
  background-color:lightgrey;
  color:black;
  font-family: cursive;
}
@media screen and (min-width:1024px){
  body{
    background-image:url("https://www.buyon.it/assets/images/bgimages/357.jpg");
  }
  #wrapper{
    width:90%;
    max-width:1024px;
    margin:0 auto;
    background-color:lightgrey;
  }
}
/*
--------------------------------------------------------------------------------------
Website Title decoration
--------------------------------------------------------------------------------------
*/
h1{
  font-weight:bold;
  display:block;
  max-width:100%;
  font-size:25px;
  text-align: center;
  font-family: "Orbitron";
}
a h1{
  color:white;

}

a{
  text-decoration:none;
}
@media screen and (min-width:1024px){

  h1{
    max-width:100%;
    font-size:80px;
    padding-top:10%;
    margin-top:0;
  }
}
/*
--------------------------------------------------------------------------------------
Navigation decoration
--------------------------------------------------------------------------------------
*/
nav{
  width:100%;
  height:58%;
  margin:0 auto;
  margin-top: 5%;
}
nav li{
  width:20%;
  height:100%;
  float:left;
  margin-left:10%;
/*  height:120px;*/
}
nav ul a img{
  max-width:100%;
  max-height:20vh;
}
nav a p{
  color:white;
  height:4.8%;
}
nav a:hover p{
  color:#95a3b3;
}

nav a:hover img{
  border-style: none;
  border-radius: 50%;
}

@media screen and (min-width:1024px){

  nav{
    width:100%;
    height:58%;
    margin:0 auto;
    margin-top:3%;
  }
  nav li{
    width:20%;
    height:100%;
    float:left;
    margin-left:8.5%;
  }
  nav ul a img{
    max-width:100%;
  }
  nav a p{
    height:4.8%;
}
}

/*
--------------------------------------------------------------------------------------
Main image decoration
--------------------------------------------------------------------------------------
*/
figure{
  width:80%;
}

figure a img{
  width:100%;
  border:2px solid black;
}
figurecaption{
  display:block;
  font-style:italic;
}

@media screen and (min-width:1024px){

  figure{
    width:60%;
    float:left;
  }
figure a img{
  width:100%;
  border:none;
  }
}
/*
--------------------------------------------------------------------------------------
Aside decoration
--------------------------------------------------------------------------------------
*/
aside{
  background-color:#82A0BC;
  color:red;
  width:100%;
  border-radius:15px;
  margin-top:10%;
  margin-right: 2%;
}

aside h3{
  font-style:italic;
}


aside ul li{
  padding-bottom:3px;
}
hr{
  margin-top:6px;
  margin-bottom:3px;
}
@media screen and (min-width:1024px){

  aside{
    width:30%;
    border-radius:15px;
    float:right;
    margin-top:20%;
  }
  aside ul li{
    padding-bottom:10px;
  }
  hr{
    margin-top:20px;
    margin-bottom:10px;
  }

}
/*
--------------------------------------------------------------------------------------
Main title decoration
--------------------------------------------------------------------------------------
*/
h2{
  font-size:30px;
  font-weight:bold;
  text-decoration:underline;
  text-align: center;
  width:100%;
  display:inline-block;
  clear:both;
}
@media screen and (min-width:1024px){

  h2{
    font-size:50px;
    width:100%;
  }
}

/*
--------------------------------------------------------------------------------------
Blockquote decoration
--------------------------------------------------------------------------------------
*/

blockquote{
  clear:both;
}
blockquote p{
  font-weight:bold;
  font-family: sans-serif;
  font-size:20px;
  color:#9eadc8;
  text-shadow:0.5px 0.5px black;
}

blockquote footer p{
  font-size:16px;
  color:white;
  font-style: italic;
}

blockquote footer{
  margin-left:60%;
  font-style: italic;
}

#main-blockquote p{
  margin-left:0%;
  min-width:100%;
  font-size:28px;
}
#main-blockquote footer p{
  font-size:20px;
}

#main-blockquote footer{
  margin-left:70%;

  color:white;
}
#main-blockquote{
  border:1px solid blue;
  border-radius:15px;
}
@media screen and (min-width:1024px){

  blockquote p{
    font-weight:bold;
    font-family: sans-serif;
    font-size:18px;
    color:#9eadc8;
  }

  blockquote footer p{
    font-size:16px;
    color:white;
    font-style: italic;
  }

  blockquote footer{
    margin-left:60%;
    font-style: italic;
  }

  #main-blockquote p{
    margin-left:0%;
    min-width:100%;
    font-size:30px;
  }
  #main-blockquote footer p{
    font-size:16px;
  }

  #main-blockquote footer{
    margin-left:70%;

    color:white;
  }
  #main-blockquote{
    border:1px solid blue;
    border-radius:15px;
  }
}

/*
--------------------------------------------------------------------------------------
Main content decoration
--------------------------------------------------------------------------------------
*/
h3{
  font-size:20px;
  text-align:center;
  color:black;
  clear:both;
  padding-top:0;
  background-color: lightgrey;
  border:2px solid blue;
}

section p{
  width: 70%;
  margin-left:15%;
  text-align: center;
  clear:both;
  font-size:16px;
}

@media  screen and (min-width:1024px){

  h3{
    font-size:30px;
    text-align:center;
    clear:both;
    padding-top:0;
  }

  section p{
    width:70%;
    margin-left:15%;
    text-align:center;
    clear:both;
    font-size:16px;
}
}
